h1 {
    font-family: serif;
    font-weight: bold;
    color: #454545;
}

.pr-10 {
    padding-right: 10rem;
}

.pl-10 {
    padding-left: 10rem;
}

.fs-2 {
    font-size: 1.6em;
}

.img-perfil {
    height: 100vh;
    max-height: 700px;
}

.img-background {
    position: absolute;
    height: 100vh;
    max-height: 700px;
    opacity: 0.4;

    max-width: 100%;

    display: block;

    min-width: 100%;
}

h2 {
    font-weight: bold;
}
