.top {
    padding-top: 2vw;
}

h1 {
    font-family: serif;
    font-weight: bold;
    color: #454545;
    font-size: 2vw;
}

.paragrafos {
    margin-top: 4vw;
}

.pr-10 {
    padding-right: 10rem;
}

.pl-10 {
    padding-left: 10rem;
}

.fs-2 {
    font-size: 1.87vw;
}

p {
    margin-bottom: 1.5vw;
}

.img-perfil {
    width: 16.5vw;
}

.img-background {
    position: absolute;
    opacity: 0.4;
    width: 100%;
    display: block;
}

h2 {
    font-weight: bold;
}
